apiVersion: v1
kind: Service
metadata:
  name: redpanda-console
  namespace: airquality
  labels:
    app: redpanda-console
spec:
  ports:
  - port: 8080
    name: http
  selector:
    app: redpanda-console
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redpanda-console
  namespace: airquality
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redpanda-console
  template:
    metadata:
      labels:
        app: redpanda-console
    spec:
      containers:
      - name: redpanda-console
        image: docker.redpanda.com/redpandadata/console:latest
        ports:
        - containerPort: 8080
          name: http
        envFrom:
        - configMapRef:
            name: airquality-config
        env:
        - name: KAFKA_BROKERS
          value: "kafka:9092"
        - name: KAFKA_SCHEMAREGISTRY_ENABLED
          value: "true"
        - name: KAFKA_SCHEMAREGISTRY_URL
          value: "http://schema-registry:8081"
