apiVersion: v1
kind: Service
metadata:
  name: schema-registry
  namespace: airquality
  labels:
    app: schema-registry
spec:
  ports:
  - port: 8081
    name: http
  selector:
    app: schema-registry
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: schema-registry
  namespace: airquality
spec:
  replicas: 1
  selector:
    matchLabels:
      app: schema-registry
  template:
    metadata:
      labels:
        app: schema-registry
    spec:
      containers:
      - name: schema-registry
        image: confluentinc/cp-schema-registry:7.5.0
        ports:
        - containerPort: 8081
          name: http
        envFrom:
        - configMapRef:
            name: airquality-config
